<template>
  <div class="container" style="height:100vh">
    <div class="tilelist">
      <div v-for="city in cities" v-bind:key="city.cityName" class="tile">
        <Tile v-bind:city="city" @deleteTile="deleteTile" @refreshTile="refreshTile"></Tile>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" v-if="showAlert">Something went wrong!</div>
    <Search v-bind:showSearch="showSearch" @newCity="addNewCity"></Search>
  </div>
</template>

<script>
import Search from "./Search";
import Tile from "./Tile";

const appid = "5f063c9b5567b59e4c316362f7fde1b8";

export default {
  name: "app",
  components: { Search, Tile },
  data: () => ({
    cities: [],
    showAlert: false,
    showSearch: true
  }),
  mounted() {
    console.log("App.vue mounted.");
  },
  methods: {
    addNewCity: function(newCity) {
      let queryName = newCity.cityName;
      let interval = newCity.interval;
      fetch(
        `https://api.openweathermap.org/data/2.5/weather?q=${queryName}&appid=${appid}&units=metric`,
        { method: "GET" }
      )
        .then(response => response.json())
        .then(data => {
          console.log(data);
          let newCityObject = {
            cityName: data.name,
            temperature: data.main.temp,
            situation: data.weather[0].main,
            temp_min: data.main.temp_min,
            temp_max: data.main.temp_max,
            interval: interval
          };
          this.cities.push(newCityObject);
          if (this.cities.length === 3) {
            this.showSearch = false;
          }
        })
        .catch(error => {
          console.log(error);
          this.showAlert = true;
          setTimeout(() => {
            this.showAlert = false;
          }, 2000);
        });
    },
    deleteTile: function(cityName) {
      this.cities = this.cities.filter(city => city.cityName !== cityName);
      this.showSearch = true;
    },
    refreshTile: function(cityName) {
      console.log("Refreshing city: " + cityName);
      fetch(
        `https://api.openweathermap.org/data/2.5/weather?q=${cityName}&appid=${appid}&units=metric`,
        { method: "GET" }
      )
        .then(response => response.json())
        .then(data => {
          let newCityObject = {
            cityName: data.name,
            temperature: data.main.temp,
            situation: data.weather[0].main,
            temp_min: data.main.temp_min,
            temp_max: data.main.temp_max
          };
          // this.cities = this.cities.map(city => city.cityName === newCityObject.cityName || city);
          this.cities = this.cities.map(city =>
            city.cityName === newCityObject.cityName ? newCityObject : city
          );
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
.tilelist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.tile {
  flex: 1 0 30%;
}
</style>