<template>
  <div class="container">
    <form v-on:submit.prevent="newCity">
      <div class="form-group">
        <label>Enter City:</label>
        <input :disabled="!showSearch" type="text" v-model="city.cityName" class="search-item" />
      </div>
      <div class="form-group row row-cols-2 align-items-center">
        <div class="col text-right">Select refresh interval:</div>
        <div class="col">
          <select
            class="form-control form-control-sm search-item"
            required
            v-model="city.interval"
            id="refreshInterval"
          >
            <option value="5">5s</option>
            <option value="10">10s</option>
            <option value="20">20s</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" v-on:submit.prevent="newCity">Submit</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "search",
  props: ["showSearch"],
  data: () => ({
    city: {
      cityName: "",
      interval: 5
    }
  }),
  methods: {
    newCity: function(e) {
      e.preventDefault();
      this.$emit("newCity", this.city);
      this.city = {
        cityName: "",
        interval: 5
      };
    }
  }
};
</script>

<style>
form {
  margin: 24px;
  width: 100%;
  text-align: center;
}

.search-item {
  max-width: 40%;
}
</style>