<template>
  <div class="container" @mouseover="showDeleteButton" @mouseleave="hideDeleteButton">
    <div class="card">
      <h5 class="card-header">{{ city.cityName }}</h5>
      <button v-if="showDelete" v-on:click="deleteTile" type="button" class="btn btn-danger">Delete</button>
      <img
        :src="getImgUrl()"
        alt="..."
        class="card-img-top"
      />
      <div class="card-body">
        <div class="row row-cols-2">
          <div class="col">
            <p>Current: {{ city.temperature }}&#8451;</p>
          </div>
          <div class="col text-right">{{ city.situation }}</div>
        </div>
            <p>Forecast: {{ city.temp_min }}&#8451; to {{ city.temp_max }}&#8451;</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "tile",
  // props: ["city"],
  props: {
    city: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    showDelete: false
  }),
  methods: {
    getImgUrl: function() {
      return `https://source.unsplash.com/400x200/?${this.city.situation},weather`;
    },
    showDeleteButton: function() {
      this.showDelete = true;
    },
    hideDeleteButton: function() {
      this.showDelete = false;
    },
    deleteTile: function() {
      this.$emit("deleteTile", this.city.cityName);
    }
  },
  mounted: function() {
    window.setInterval(() => {
      this.$emit("refreshTile", this.city.cityName);
      console.log("refreshing tile");
    }, this.city.interval * 1000);
  }
};
</script>

<style scoped>
.btn {
  position: absolute;
  top: 8px;
  right: 8px;
}
</style>>